{% extends 'base.html' %} 

{% block title %}MyClub User Login{% endblock title %} 

{% block content %} 
<h1>Не хочешь войти в подземелье?</h1>
<p>Только залогиненные могут увидеть сокровища сбоку</p>
<form method="post" action="{% url 'login' %}"> <!--если шо, url ищет по name в urls.py-->
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="login"></td>
        </tr>
    </table>
    <p>Всё ещё не Dungeon Master?<a href="{% url 'register' %}">Тыкай сюды 👈</a>.</p>
    <input type="hidden" name="next" value="{{ next }}"> <!--Когда происзодит перенаправление на эту страницу 
    django сохраняет исходную точку в переменной шаблона next. После успешной отправки формф значение next
    сохраняется и Django знает куда перенаправить пользователся-->
    {% csrf_token %} 
</form>
{% endblock content %}